$label_hover_gradient: linear-gradient(
      var(--field-background-color),
      var(--field-background-color)
    )
    padding-box,
  linear-gradient(
      to bottom right,
      var(--color-gradient-start),
      var(--color-gradient-end)
    )
    border-box;
$label_gradient: linear-gradient(
  to bottom right,
  var(--color-gradient-start),
  var(--color-gradient-end)
);

.darkmode {
  --background-color: #181824;
  --field-background-color: #25273c;
  --border-bottom-color: hsl(237, 14%, 26%);
  --text-color: hsl(234, 11%, 52%);
  --disabled-text: hsl(233, 14%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);
  --active-color: hsl(220, 98%, 61%);
}

@mixin label_style {
  display: inline-block;
  min-width: 26px;
  min-height: 26px;
  border: 1px #b4b6bb solid;
  border-radius: 50%;
}

@mixin background_setting($url) {
  background: $url;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin flexbox($justify: initial, $align: initial, $gap: 0px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  // background-size: 100vw 40%;
  @include background_setting(url("/bg-desktop-light.jpg"));
  background-color: var(--background-color);
  .menu-container {
    max-width: 730px;
    margin: 0 auto;
    padding-top: 96px;
    header {
      @include flexbox(space-between, center);
      .todo-heading {
        color: white;
        letter-spacing: 0.5em;
        padding-top: 7px;
        font-size: 2.6em;
      }
      img {
        cursor: pointer;
      }
    }
    main {
      color: var(--text-color);
      margin-top: 56px;
      label {
        @include label_style;
      }
      input {
        flex: 1;
        font-size: 21px;
        border: none;
        outline: none;
        background: transparent;
        color: inherit;
      }
      form {
        @include flexbox($align: center, $gap: 29px);
      }
      .field {
        width: 100%;
        padding: 28px 30px;
        background-color: var(--field-background-color);
        border-radius: 5px;
      }
      .tasks-container {
        margin-top: 38px;
      }
      .task-field {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid var(--border-bottom-color);
        &:not(:first-child) {
          border-radius: 0;
        }
        &:hover {
          label {
            border: 1.5px solid transparent;
            background: $label_hover_gradient;
          }
          .cross {
            display: inline-block;
          }
        }
        .cross {
          align-self: center;
          display: none;
        }
      }

      .task-info {
        label {
          cursor: pointer;
          position: relative;
          user-select: none;
        }
        @include flexbox($align: center, $gap: 29px);
        p {
          font-size: 21px;
        }
        .task-select-input {
          display: none;
        }
        .check-icon {
          display: none;
          position: absolute;
          left: 7px;
          top: 8px;
        }
        .task-select-input:checked ~ label {
          img {
            display: inline-block;
          }
          background: $label_gradient;
          border: none;
        }
        .task-select-input:checked {
          & ~ p {
            color: var(--disabled-text);
            text-decoration: line-through;
          }
        }
      }
      .filters-mobile {
        box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        margin-top: 50px;
        display: none;
        .filters {
          display: flex;
          justify-content: center;
          gap: 15px;
          color: #afafb9;
          a:hover {
            color: #6a6974;
          }
        }
      }
      .drag-n-drop {
        text-align: center;
        color: #9b9a9f;
        margin-top: 50px;
      }
      .active {
        color: var(--active-color);
        pointer-events: none;
      }
      .actions {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        // background: white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        color: #afafb9;
        .filters {
          display: flex;
          gap: 15px;
        }
        .filters a:hover {
          color: #6a6974;
        }
        .clear-all {
          flex-grow: 1;
          flex-basis: 0;
          display: flex;
          justify-content: flex-end;
        }
        .items-left {
          flex-grow: 1;
          flex-basis: 0;
        }
        button {
          &:hover {
            color: #6a6974;
          }
          background: transparent;
          border: none;
          color: inherit;
          cursor: pointer;
          font-size: inherit;
        }
      }
      .main-container {
        box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        border-radius: 5px;
        background: var(--field-background-color);
      }
    }
  }
}

.gray {
  color: #afafb9;
  pointer-events: none;
  align-self: center;
}

.spacer {
  height: 80px;
}

////////// MEDIA QUERIES

@media (max-width: 811px) {
  .menu-container {
    width: 90%;
  }
}

@media (max-width: 625px) {
  .filters-mobile {
    display: block !important;
  }
  .actions {
    .filters {
      display: none !important;
    }
  }
}

@media (max-width: 670px) {
  .wrapper {
    @include background_setting(url("/bg-mobile-light.jpg"));
    background-color: var(--background-color);
    .menu-container {
      padding-top: 50px;
    }
  }
}

@media (max-width: 500px) {
  .task-info {
    p {
      font-size: 17px !important;
    }
  }
  .field {
    form {
      input {
        font-size: 17px !important;
      }
    }
  }
}

//////////// DRAG AND DROP STYLING

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 0s, color 0s 0s;
  transition-delay: calc(infinity * 1s);
}

.cdk-drag-preview {
  color: var(--text-color);
  .check-icon {
    position: absolute;
    left: 7px;
    top: 8px;
  }
  .task-select-input:checked ~ label {
    img {
      display: inline-block;
    }
    background: $label_gradient;
    border: none;
  }
  .task-select-input:checked {
    & ~ p {
      color: #d6d5d9;
      text-decoration: line-through;
    }
  }
  background: var(--field-background-color);
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 28px 30px;
  label {
    @include label_style;
    position: relative;
  }
  input {
    display: none;
  }
  .task-info {
    @include flexbox($align: center, $gap: 29px);
    p {
      font-size: 21px;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task-field:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
