<div class="wrapper">
  <div class="menu-container">
    <header>
      <h1 class="todo-heading">TODO</h1>
      <img src="/icon-moon.svg" alt="" width="32px" height="32px" />
    </header>
    <main>
      <div class="field">
        <form [formGroup]="taskForm" (ngSubmit)="onAddTask()">
          <label for="task_name"></label>
          <input
            id="task_name"
            type="text"
            placeholder="Create a new todo..."
            formControlName="title"
          />
        </form>
      </div>
      <div class="main-container">
        <div class="tasks-container">
          @if(displayedTasks().length === 0) {
          <div class="field task-field gray">
            <p>No tasks in this category.</p>
          </div>
          } @for(task of displayedTasks(); track task.id; let i = $index) {
          <div class="field task-field">
            <div class="task-info">
              <input
                type="checkbox"
                [id]="'task' + task.id + '_select'"
                class="task-select-input"
                (change)="onSelectTask(task.id)"
                [checked]="task.completed"
              />
              <label [for]="'task' + task.id + '_select'">
                <img
                  src="/icon-check.svg"
                  alt=""
                  width="13px"
                  height="11px"
                  class="check-icon"
              /></label>

              <p>{{ task.title }}</p>
            </div>
            <img
              src="/icon-cross.svg"
              alt=""
              width="23px"
              height="23px"
              class="cross"
              (click)="onDeleteTask(task.id)"
            />
          </div>
          }
        </div>
        <div class="actions">
          <div class="items-left">
            <p>{{ itemsLeft() }} items left</p>
          </div>

          <div class="filters">
            <a
              routerLink=""
              [queryParams]="{ filter: 'all' }"
              [class.active]="filter() === 'all'"
              >All</a
            >
            <a
              routerLink=""
              [queryParams]="{ filter: 'active' }"
              [class.active]="filter() === 'active'"
              >Active</a
            >
            <a
              routerLink=""
              [queryParams]="{ filter: 'completed' }"
              [class.active]="filter() === 'completed'"
              >Completed</a
            >
          </div>

          <div class="clear-all">
            <button (click)="clearCompleted()">Clear Completed</button>
          </div>
        </div>
      </div>
      <div class="filters-mobile field">
        <div class="filters">
          <a
            routerLink=""
            [queryParams]="{ filter: 'all' }"
            [class.active]="filter() === 'all'"
            >All</a
          >
          <a
            routerLink=""
            [queryParams]="{ filter: 'active' }"
            [class.active]="filter() === 'active'"
            >Active</a
          >
          <a
            routerLink=""
            [queryParams]="{ filter: 'completed' }"
            [class.active]="filter() === 'completed'"
            >Completed</a
          >
        </div>
      </div>
      <p class="drag-n-drop">Drag and drop to reorder list</p>
      <div class="spacer"></div>
    </main>
  </div>
</div>
